<!Doctype html>
<html lang="sv">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Demokratisk Quiz</title>
		<script src="https:ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<h3>Det sägs att vi i västvälden lever i folkstyrda politiska system</h3>
		<br>
		<h1 class="small">Hur</h1><h1>demokratisk</h1><h1 class="small">är du?</h1>
		<br>
		<h1>{{ quiz.name }}</h1>
		<p>{{ quiz.description }}</p>
		<br>
		<br>
		<br>
		<a href="question.html" class="button" >Starta quiz!</a><a href="question.html" class="button" >Starta quiz!</a>    
	</body>
</html>


