<!Doctype html>
<html lang="sv">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Frågesport</title>
	<script src="https:ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
</head>
	<body>
		<h1>Angelas frågesport</h1>
		<p>Välj en frågesport!</p>
		{% for quiz in quizzes %}
			<p>{{ quiz.name }}</p>
		{% endfor %}
	</body>
</html>

