<!Doctype html>
<html lang="sv">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Demokratiska Quizen</title>
	<script src="https:ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">
	<link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
</head>
	<body>
		<div class="divclass">
			<div class="container">
       			<div class="row">
            		<h1>Välj en quiz!</h1></div>
            		<br>
           			<div class="row">
                	{% for quiz in quizzes %}
               		 <div class="col-sm-4 column1">
                    <p><a href="{% url 'quiz_page' quiz.quiz_number %}"></a><p>
                    	<img src="/static/img/{{ question_number }}.jpg">
                    <br>
                    <h5> {{ quiz.name }} </h5>
                    <h3> {{ quiz.description }} </h3>
                    <a href="{% url 'quiz_page' quiz.quiz_number %}" class="startbutton">Start</a>
               	</div>
                {% endfor %}
				<br>
				<br>
		</div>
		<!-- Global Site Tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107269417-1"></script>
			<script>
 			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments)};
  			gtag('js', new Date());

  			gtag('config', 'UA-107269417-1');
		</script>
	</body>
</html>

