html {
	height: 100%;
}
body {
	min-height: 100%;
	background: rgba(0,0,0,1);
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,67,87,1) 80%, rgba(0,67,87,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(80%, rgba(0,67,87,1)), color-stop(100%, rgba(0,67,87,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,67,87,1) 80%, rgba(0,67,87,1) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,67,87,1) 80%, rgba(0,67,87,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,67,87,1) 80%, rgba(0,67,87,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,67,87,1) 80%, rgba(0,67,87,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#004357', GradientType=0 );
}
body {
	color: #fff;
	font-size: 14px;
	font-family: Arial;
	line-height: 1.9em;
	text-align: center;
}
h1,h2 {
	color: #fff;
	font-family: Abril Fatface;
	font-weight: 100;
	font-size: 10vw;
	letter-spacing: 0.04em;
	text-transform: normal;
	line-height: 1.05em;
}
h3 {
	padding-top: 3em;
	padding-bottom: 8px;
	font-weight: 100;
	text-transform: uppercase;
    letter-spacing: 0.17em;
    font-size: 1em;
    line-height: 1.5em;
}
.small {
	font-size: 3em;
	line-height: 0.4em;
}
.button {
    font: Arial;
    font-size: 16px;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 1em;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    margin:6px;
}
.button:hover {
    background-color: #fff;
    color: #00d8ff;
    text-decoration: none;
    margin:6px;
}
.startbutton {
    font: Arial;
    font-size: 0.8em;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 1em;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.17em;
    margin: 3px;
    display: inline-block;
}
.startbutton:hover {
    background-color: #fff;
    color: #00d8ff;
    text-decoration: none;
    margin: 3px;
    display: inline-block;
}
.divider{
    width:10px;
    height:auto;
    display:inline-block;
}
.divclass{
    margin-top: 20%
    margin-right: 5%;
    margin-left: 5%;
}