html {
	height: 100%;
}
body {
	min-height: 100%;
	background: #00d8ff; /* Old browsers */
	background: -moz-linear-gradient(top, #00d8ff 0%, #0560ff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #00d8ff 0%,#0560ff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #00d8ff 0%,#0560ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00d8ff', endColorstr='#0560ff',GradientType=0 ); /* IE6-9 */
}
body {
	color: #fff;
	font-size: 14px;
	font-family: Arial;
	line-height: 1.9em;
	text-align: center;
}
h1,h2 {
	color: #fff;
	font-family: Times;
	font-weight: 800;
	font-size: 5em;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	line-height: 1em;
}
h3 {
	padding-top: 3em;
	padding-bottom: 8px;
	font-weight: 100;
	text-transform: uppercase;
    letter-spacing: 0.17em;
    font-size: 1em;
    line-height: 1.5em;
}
.small {
	font-size: 3em;
	line-height: 0.4em;
}
.button {
    font: 16px Arial;
    text-decoration: none;
    background-color: none;
    color: #fff;
    padding: 1em;
    border: 2px solid #fff;
    text-transform: uppercase;
    letter-spacing: 0.17em;
}
.button:hover {
    background-color: #fff;
    color: #00d8ff;
    text-decoration: none;
}
.divider{
    width:10px;
    height:auto;
    display:inline-block;
}